﻿@model Namirnice2.Models.FileUploadModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div style="background-color:lightcoral">
    <h4>Detalji o proizvodu:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            
         <img src="@Url.Content(Model.fileUploaded)" with="250" height="250" />
          

        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZahtevanaKolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZahtevanaKolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrenutnaKolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrenutnaKolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Razlika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Razlika)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
